# Required for contact form email delivery via Resend
CONTACT_FROM_EMAIL=Essex Carpenters <website@essexcarpenters.co.uk>
CONTACT_TO_EMAIL=info@essexcarpenters.co.uk
RESEND_API_KEY=re_CQmJNNDb_APck6YNA3RmVVisqqxJeePbi
