# Required for contact form email delivery via IONOS SMTP
CONTACT_FROM_EMAIL=Essex Carpenters <info@essexcarpenters.co.uk>
CONTACT_TO_EMAIL=info@essexcarpenters.co.uk
CONTACT_SMTP_HOST=smtp.ionos.co.uk
CONTACT_SMTP_PORT=587
CONTACT_SMTP_SECURE=false
CONTACT_SMTP_USER=info@essexcarpenters.co.uk
CONTACT_SMTP_PASS=your_ionos_mailbox_password
